*.log           
*.pyc       
*.pyo     
*.pyd         
__pycache__/  
*.DS_Store     
*.swp         
*.env          

.venv/         
*.egg-info/  
dist/         
build/       
*.sqlite3     

node_modules/ 
dist/          
build/        
*.tsbuildinfo  
*.map          

coverage/    
*.lcov         
.test/         

credentials.json  
*.key       
*.pem         