.login-container, .register-container {
  max-width: 400px;
  width: 100%;
  margin: 50px auto;
  padding: 20px;
  border-radius: 5px;
  background-color: rgba(18, 18, 18, 0.70);
  border: 1px solid rgb(49, 49, 49);
}

.login-container .link, .register-container .link  {
  font-size: 0.9rem;
}
  
.form-group {
  margin: 15px 0;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 9px;
  border: 1px solid #3d444d;
  border-radius: 4px;
  box-sizing: border-box ;
  background-color: transparent;
  color: #FFFFFF;
}

.form-group input:focus {
  outline: none;
}

button {
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.error-message {
  color: red;
  margin-bottom: 10px;
}

.login-page {
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
}