.message-float {
    background-color: rgba(18, 18, 18, 0.75);
    padding: 16px 24px;
    max-width: 300px;
    border-radius: 6px;
    text-align: left;
    animation: fadeInMessageFloat 2s;
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.message-float-container-image img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.message-float-sender {
    font-weight: 500;
}

.message-float-content {
    color: #6B6E76;;
}


.message-float-container-data {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

@keyframes fadeInMessageFloat {
    from {
        opacity: 0;
        transform: translateY(-50px);
    }
    to {
        opacity: 1;
    }
}
