.home-container {
    text-align: center;
    position: relative;
}
  
.login-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#section-banner {
    min-height: 100vh;
    display: flex;
    padding-top: 40px;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#section-banner .title-1 {
    animation: fadeIn1 4s ease-in-out;
}

#section-banner .subtitle-1 {
    max-width: 550px;
    animation: fadeIn1 2s ease-in-out;
    margin: 0 auto;
}

.app-chat-features .title-3, .app-chat-features .text {
    text-align: left;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
}

#section-banner .title-1:nth-child(1) {
    margin-top: 150px;
}

.app-chat-features {
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-chat-feature {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
}

#section-app .container {
    display: flex;
    gap: 40px;
    align-items: start;
    justify-content: space-around;
    padding-bottom: 60px;
}

.app-chat-container {
    width: 100%;
    max-width: 380px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    gap: 12px;
    min-height: 360px;
}

.app-chat-message-1 {
    text-align: right;
}

.app-chat-message-2 {
    text-align: left;
}

.app-chat-message-1, .app-chat-message-2 {
    animation: fadeInUp 0.5s ease-in-out forwards;
    transition: all 0.5s;
}

.app-chat-message-1 span, .app-chat-message-2 span {
    padding: 8px 16px;
    background-color: #121212;  
    width: fit-content;
    display: inline-block;
    max-width: 72%;
    text-align: justify;
}

.app-chat-message-1 span {
    border-radius: 8px 8px 0 8px;
}

.app-chat-message-2 span {
    border-radius: 8px 8px 8px 0;
}


.img-banner {
    position: absolute;
    top: -40px;
    left: 0;
    max-width: 100%;
    z-index: -1;
    opacity: 0.5;
    animation: fadeIn 4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeInUp {
    from {
        display: none;
        opacity: 0;
    }
    to {
        display: block;
        opacity: 1;
    }
}

#section-partners {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 60px;
}

#section-partners .container {
    display: flex;
    gap: 40px;
    align-items: center;
    justify-content: center;
    padding: 40px;
    background-color: rgba(18, 18, 18, 0.3);
    border: 1px solid rgb(49, 49, 49);
    border-radius: 8px;
}
