.home-container {
    text-align: center;
    position: relative;
}
  
.login-link {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

#section-banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 40px;
}

#section-banner .title-1 {
    animation: fadeIn1 4s ease-in-out;
}

#section-banner .subtitle-1 {
    max-width: 550px;
    animation: fadeIn1 2s ease-in-out;
    margin: 0 auto;
}

.app-chat-features .title-3, .app-chat-features .text {
    text-align: left;
}

.title-subtitle {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#section-banner .title-1:nth-child(1) {
    margin-top: 150px;
}

.app-chat-features {
    max-width: 50%;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.app-chat-feature {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    text-align: left;
}

.img-banner {
    position: absolute;
    top: -40px;
    left: 0;
    max-width: 100%;
    z-index: -1;
    opacity: 0.5;
    animation: fadeIn 4s ease-in-out;
}



@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 0.5;
    }
}

@keyframes fadeIn1 {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

