.chat-container {
    display: flex;
    justify-content: start;
    align-items: normal;
    height: 90vh;
    padding-top: 30px;
    flex-direction: column;
    gap: 20px;
}

.chat-container-header {
    text-align: center;
}

.chat-contaner-body {
    width: 100%;
    display: flex;
    justify-content: normal;
    align-items: normal;
    gap: 20px;
}

.chat-username-user {
    padding: 12px 22px;
    border: 1px solid #3d444d;
    border-radius: 8px;
    font-weight: 500;
    margin-right: 25px;
}

