body {
  background-color: #000000;
  color: #FFFFFF;
  font-family: 'Inter', sans-serif;
}

.App {
  text-align: center;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #FFFFFF;
}

.title-1 {
  font-size: 2.5rem;
  margin: 1rem 0;
  font-weight: 500;
}




